body {
    background-image: url("https://images.pexels.com/photos/131667/pexels-photo-131667.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    font-family: sans-serif;
    background-size: cover;
}
