body {
    background-color:antiquewhite;
    font-family: sans-serif;
    background-size: cover;
}
.imgContainer{

    
}
.imgClass{
    margin-left:-112px;

}

.headerClass {
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    padding: 0rem 1rem;
    margin-top: 0.5rem;
    margin-left: 40rem;
    color:white;
    border-radius: 2rem;
    box-shadow: -12px -5px 5px rgba(128, 128, 128, 0.63);
}
    .headerClass:hover {
        scale: 105%;
        box-shadow: -12px -5px 5px rgba(128, 128, 128, 0.63);
        background-color: lawngreen;
        color:red;
    }
